/* Your Styles Here */
body{
    background-color: rgb(55, 114, 42);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.left {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}
.center {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}
.right {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}
body #info {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img1 {
    border: 2px solid;
    border-radius: 10px;
    width: 150px;
    margin-right: 150px;
}
.img1-cat {
    border: 2px solid;
    border-radius: 10px;
    width: 100px;
    margin-right: 150px;
}
.img2 {
    border: 2px solid;
    border-radius: 10px;
    width: 150px;
    margin-left: 150px;
}
.img2-cat {
    border: 2px solid;
    border-radius: 10px;
    width: 100px;
    margin-left: 150px;
}
.linkedin{
    margin-right: 10px;
}
.github{
    margin-left: 10px;
}
body #card {
    border: 2px solid;
    border-color: rgb(2, 77, 2);
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(101, 186, 86);
    height: 500px;
    width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.img {
    border: 2px solid;
    border-radius: 10px;
    width: 150px;
}